
  .btnPixel{
      /*min-height: 15px;
      min-width: 15px;
      padding: 0%;*/
      height: 30px;
      width: 30px;
      margin: 1px;
  }
  body{
    line-height: 0%;    
  }

  .tekstCheckbox{
      display: inline-block;
  }

  .numberTogglers{
    max-width: 50px;
  }
  table{
    border-collapse: collapse;
  }

  tr td{
    padding: 0 !important;
    margin: 0 !important;    
  }